<link rel="stylesheet" href="/stylesheets/scorecard.css">

<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Stubby Pencil Scoring</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

<h1 class="center">You made it to the scorecard page!</h1>

<h1 class="center">{{game_name}}</h1>
<div class="container">
    <div class="row">
        <div class="col s12">
            <table class="centered responsive-table">
                <tbody>
                    <tr>
                        {{#each scorecard}}
                            <td>
                              <img class="photos" src= {{image}} alt="user person" />
                            </td>
                        {{/each}}
                    </tr>
                    <tr>
                        {{#each scorecard}}
                            <td>
                                <h5 class="centered">{{first_name}}</h5>
                                <form class="col s12">
                                  <div class="row">
                                    <div class="input-field col s6">
                                      <input placeholder="enter score" id="score" type="text" class="validate">
                                      <label for="score"></label>
                                    </div>
                                  </div>
                                </form>
                            </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
