<!DOCTYPE html>
<html>
  <head>
    <title>{{game_name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- number of players times images below -->
    <img src={{image}}>
    {{{body}}}
  </body>
</html>
